<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<% page_title = capture do %>
  <% page.data.title.to_s.strip %>
<% end %>

<title>
  <% if page_title != "" %>
    <%= "#{page_title} | #{site.metadata.title}" %>
  <% else %>
    <%= "#{site.metadata.title}: #{site.metadata.tagline}" %>
  <% end %>
</title>

<meta name="description" content="<%= site.metadata.description %>" />

<link rel="stylesheet" href="<%= webpack_path "css" %>" />
<script src="<%= webpack_path "js" %>" defer></script>
